{% extends "base.html" %}
{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; {% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="text-center article-header">
		<h1 itemprop="name headline" class="article-title">{{ article.title }}</h1>
		<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
	</div>
	<div itemprop="articleBody" class="article-body">{{ article.content }}</div>
	<hr>
	<div class="col-md-12 text-center center-block">
		<h4>所有文章转载请注明出处</h4>
	</div>
	<h2>Comments</h2>
	{% include 'disqus.html' %}
</div>
{% endblock %}