{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<h1>About Me</h1>
<article class="article-body">
    <p>我是郭瑞，居住在北京，这是我的个人网站，用于记录学到的点滴知识。</p>
    <p>如果你希望使用本站的任何素材，请先与我联系。</p>
    <ul>
        <li>GitHub: <a href="https://github.com/ylgrgyq">https://github.com/ylgrgyq</a></li>
    </ul>
    <p>我之前的博客在 <a href="https://ylgrgyq.github.io/">GitHub</a> 维护。因为各种原因迁到了这里。</p>
    <p>博客使用的 Theme 是我基于 <a href="https://github.com/getpelican/pelican-themes/tree/master/aboutwilson">aboutwilson</a>
        改的，很感谢这个 Theme 的提供者。</p>
</article>
{% endblock %}