<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{% block description %}A place to write some ramblings{% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ SITEURL }}/theme/html5.js"></script>
		<![endif]-->
	<link href="{{ SITEURL }}/theme/css/ipython.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootswatch/3.2.0/css/simplex/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>

<body>
	<div class="container">
		<nav class="navbar" role="navigation">
			<div class="navbar-header">
				<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a>
					<br>{% if SITESUBTITLE %}<small>{{ SITESUBTITLE }}</small></h1>{% endif %}
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					<a href="{{ SITEURL }}/author/ylgrgyq">关于我</a>
				</li>
				{% if FEED_ALL_ATOM %}
				<li class="nav-item">
					<a class="nav-link" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml"><i
							class="fa fa-rss "></i>
						atom</a>
				</li>
				{% endif %}
				{% if FEED_ALL_RSS %}
				<li class="nav-item">
					<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml"><i class="fa fa-rss "></i>
						rss</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% block content %}{% endblock %}
			</div>
		</div> {# End row #}
		<!-- <hr> -->
	</div> <!-- /container -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center center-block aw-bottom">
				<p>&copy; {{ AUTHOR }} 2021</p>
				<p>Powered by Pelican</p>
			</div>
		</div>
	</div>
	<!-- JavaScript -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$("div.collapseheader").click(function () {
				$header = $(this).children("span").first();
				$codearea = $(this).children(".input_area");
				$codearea.slideToggle(500, function () {
					$header.text(function () {
						return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
					});
				});
			});
		});
	</script>
	{% include "analytics.html" %}
</body>

</html>
