{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
{% for article in articles_page.object_list %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<a href="{{ SITEURL }}/{{ article.url }}">
		<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
		<h3 itemprop="name headline">{{ article.title }}</h3>
	</a>
</div>
<hr>
{% endfor %} {# For article #}
{% include 'pagination.html' %}
{% endif %} {# If articles #}
{% endblock content %}